<h1>タスク一覧</h1>
<p id = "notice"><%= notice %></p>
<% @tasks.each do |task| %>
  <br>
  <%= t '.priority' %>
  <%= task.priority %>
  <%= t '.title' %>
  <%= task.title %>
  <%= t '.content' %>
  <%= task.content %>
  <%= t '.deadline' %>
  <%= task.deadline %>
  <%= t '.status' %>
  <%= task.status%>
  <%= link_to '詳細', task_path(task.id) %>
  <%= link_to '編集', edit_task_path(task.id) %>
  <%= link_to '削除', task_path(task.id), method: :delete %>
<% end %>
  <br>
  <%= link_to 'タスクを登録する', new_task_path %>