<h1>タスク一覧</h1>
<p id = "notice"><%= notice %></p>
<% @tasks.each do |task| %>
  <br>
  <%= t('view.priority') %>
  <%= task.priority %>

  <%= t('view.title') %>




  <%= task.title %>
  <%= t('view.content') %>
  <%= task.content %>
  <%= t('view.deadline') %>
  <%= task.deadline %>
  <%= t('view.status') %>
  <%= task.status%>

  <%= link_to t('view.show'), task_path(task.id) %>
  <%= link_to t('view.edit'), edit_task_path(task.id) %>
  <%= link_to t('view.destroy'), task_path(task.id), method: :delete %>

  

<% end %>
  <br>
  <%= link_to t('view.registration'), new_task_path %>