<%= form_for @task do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= @task.errors.count %>件のエラーがあります。</h2>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </div>
  <% end %>
<% end %>
<div class = "task_index">
    <%= form_with(model: @task, local: true) do |form| %>
      <div class="task_title">
        <%= form.label :title %>
        <br>
        <%= form.text_field :title,rows:5, class: 'form-control',id: 'new_title'%>
      </div>
      <div class="task_title">
        <%= form.label :content %>
        <br>
        <%= form.text_area :content, class: 'form-control',id: 'new_content'%>
      </div>
      <div class="task_title">
      <%= form.label :deadline %>
      <br>
      <%= form.text_field :deadline, class: 'form-control', id: 'new_deadline' %>
      </div>
      <div class="task_title">
        <%= form.label :priority %>
        <br>
        <%= form.text_field :priority, class: 'form-control' %>
      </div>
      <div class="task_title">
        <%= form.label :status %>
        <br>
        <%= form.text_field :status, class: 'form-control' %>
      </div>
      <%= form.submit %>
    <% end %>
  <%= link_to t('view.back'), tasks_path %>
</div>
