<h1>タスク内容</h1>

<p><%= t('view.title') %>:<%= @task.title %></p>
<p><%= t('view.content') %>:<%= @task.content %></p>
<%= link_to t('view.edit'), edit_task_path(@task) %>
  <%= link_to t('view.back'), tasks_path %>